@font-face {
	font-family:'FoundersGroteskRegular';
	src:url("../fonts/FoundersGroteskWeb-Regular.woff") format("woff");
}

@font-face {
	font-family:'FoundersGroteskLight';
	src:url("../fonts/FoundersGroteskWeb-Light.woff") format("woff");
}

@font-face {
	font-family:'Newzald';
	src:url("../fonts/NewzaldWeb-Bold.woff") format("woff");
}