---
layout: default
---
<style>
    .cover-image {
        background: url('{{site.baseurl}}/assets/img/extra-wide/{{ page.data }}.png') center no-repeat; 
        background-size: cover;
    }
    @media only screen and (max-width: 650px) {
        .cover-image {
            background-image: url('{{site.baseurl}}/assets/img/tile/{{ page.data }}.png');
        }
    }
    @media only screen and (max-width: 650px) and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    .cover-image {
        background-image: url('{{site.baseurl}}/assets/img/banner/{{ page.data }}.png');
        }
    }
    @media only screen and (max-width: 1300px) {
        .cover-image {
            background-image: url('{{site.baseurl}}/assets/img/banner/{{ page.data }}.png');
        }
    }
    @media only screen and (max-width: 1300px) and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    .cover-image {
        background-image: url('{{site.baseurl}}/assets/img/wide/{{ page.data }}.png');
        }
    }
    @media only screen and (max-width: 2600px) {
        .cover-image {
            background-image: url('{{site.baseurl}}/assets/img/wide/{{ page.data }}.png');
        }
    }
    @media only screen and (max-width: 2600px) and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    .cover-image {
        background-image: url('{{site.baseurl}}/assets/img/extra-wide/{{ page.data }}.png');
        }
    }
</style>
<article class="article-page">
    <div class="page-image">
        <div class="cover-image"></div>
    </div>
    <div class="wrapper">
        <div class="page-content">
            {{content}}
        </div> 
    </div>        
</article>