<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ site.title }} - {{ page.display-name | default: page.data | default: page.title }} </title>
    <meta name="description" content="{% if page.isHome != true %}Find and use stats and data about {{page.display-name | default: page.data | default: page.title}} and its Council to help you decide in the 2019 Local Elections{% else %}{{site.description}}{% endif %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:site_name" content="{{site.title | xml_escape}}">
    <meta property="og:title" content="{{site.title | xml_escape}}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{site.url | append: page.url | xml_escape}}">
    <meta name="og:description" content="{% if page.isHome != true %}{{site.subtitle-ta | xml_escape}} {{page.display-name | default: page.data | default: page.title}}{% else %}{{site.subtitle | xml_escape}}{% endif %}">
    <meta name="description" content="{% if page.isHome == true %}{{site.subtitle | xml_escape}}{% else %}{{site.subtitle-ta | xml_escape}} {{page.display-name | default: page.data | default: page.title}}{% endif %}">
    <meta name="twitter:site" content="@FigureNZ">
    <meta name="twitter:title" content="{{site.title | xml_escape}}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content="{% if page.isHome == true %}{{site.subtitle | xml_escape}}{% else %}{{site.subtitle-ta | xml_escape}} {{page.display-name | default: page.data | default: page.title}}{% endif %}">
    <meta name="twitter:image" content="{% if page.isHome != true %}{{site.url}}/assets/img/tile/{{page.data}}.jpg{% else %}{{site.url}}/assets/img/home-image.png{% endif %}" >
    <meta name="apple-mobile-web-app-title" content="{{site.title | xml_escape}}" />
    <link rel="apple-touch-icon" href="{{site.baseurl}}/assets/img/favicons/AppleTouch.png" sizes="180x180">
    <link rel="icon" href="{{site.baseurl}}/assets/img/favicons/32x32.ico" sizes="32x32" type="image/png">
    <link rel="icon" href="{{site.baseurl}}/assets/img/favicons/32x32.ico" sizes="16x16" type="image/png">
    <meta name="theme-color" content="#5461c8">
    <link rel="mask-icon" href="{{site.baseurl}}/assets/img/favicons/safari-pinned-tab.svg" color="#5461c8">
    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
    {% include styles.html %}
</head>
<body>

    <div class="flex-container">
        <header class="main-header">
            <div class="wrapper">
                <div class="header-flex">
                <div class="menu-icon-container">
                    <span class="menu-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
                </div>
                {% include navigation.html %}
                <p class="logo"><a href="{{site.baseurl}}/">{{site.title}}</a></p>
                <div class="search-icon-container">
                    <span class="search-icon" data-event="search-open-click"><a><i class="fa fa-search" aria-hidden="true"></i></a></span>
                </div>
                </div>
            </div>
        </header>

        <main>
            {{ content }}
        </main>

        <footer class="main-footer">
            <div class="copyright">
                <p><a href="{{site.baseurl}}{% link about.md %}">About this project</a></p>
                <p>2020 © Figure.NZ, other than images licensed under Creative Commons from <a href="https://www.humaaans.com/">Humaaans</a></p>
            </div>
        </footer>
    </div>

    {% include search.html %}
    {% include scripts.html %}
    {% if site.analytics == true %}
        {% include woopra-analytics.html %}
    {% endif %}
</body>
</html>